.Dashboard {
  padding: 40px;

  display: flex;
  flex-flow: column nowrap;
  gap: 20px;

  max-width: 1800px;
}

.titleWrapper {
  padding: 20px;

  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.title {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.description {
  color: #65676b;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.widgetGrid {
  display: block;

  columns: 2 400px;
  column-gap: 20px;
}
