.Library {
  padding: 40px;

  --row-height: 24px;

  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.headerWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.headerWrapper .leftCol {
  flex: 1 0 auto;
}

.headerWrapper .rightCol {
  flex: 0 0 auto;
}

.headerWrapper select {
  flex: 0 0 auto;

  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  border-color: #ccc;
  font-family: inherit;
  color: #333;
}

.table {
}

.section {
  padding: 12px;
  width: 100%;
}

.section:nth-child(odd) {
  background-color: #f9f9f9;
  border-radius: 8px;
}

.summaryWrapper {
  display: flex;
  list-style: none;
}

.summaryWrapper::-webkit-details-marker {
  display: none;
}

.summary {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 27px;

  user-select: none;
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.summary .hostname {
  flex: 0 1 auto;

  color: #333;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summary:hover .hostname {
  text-decoration: underline;
}

.summary .count {
  flex: 0 0 auto;

  min-width: var(--row-height);
  padding: 0 4px;

  font-size: 12px;
  font-weight: 500;
  line-height: var(--row-height);
  text-align: center;
  color: #666;

  background-color: rgba(0, 0, 0, 0.052);
  border-radius: 4px;
}

.summary .flex {
  flex: 1 1 auto;
}

.summary .actions {
  flex: 0 0 auto;
}

.rows {
  margin-top: 16px;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;

  width: 100%;
  color: #333;

  user-select: none;
}

.row .status {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #ccc;
  margin: 6px 12px 6px 0;
}

.row .url {
  flex: 1 1 100%;
  color: #555;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;

  text-decoration: none;
  overflow: hidden;
}

.row .url .icon {
  flex: 0 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.row .url .label {
  flex: 1 1 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: var(--row-height);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row .url:hover {
  text-decoration: underline;
}

.row .timestamp {
  color: #666;
  font-size: 12px;
  font-weight: 500;
  line-height: var(--row-height);
}

@keyframes loading {
  0%,
  49% {
    background-color: #fff;
  }
  50%,
  100% {
    background-color: #ccc;
  }
}

.row .status.processing {
  background-color: #fff;
  border: 1px solid #ccc;

  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.row .status.processed {
  background-color: #4240b9;
}

.row .status.failed {
  background-color: #d6776e;
}

.row .actions {
  flex: 0 0 auto;
}

.row .actions button {
  height: var(--row-height);
}

.row:hover .url {
  text-decoration: underline;
}

/* Stats */

.stats {
  font-size: 14px;
  color: #666;
}

/* More Button */

.MoreButton {
  height: var(--row-height);
  width: var(--row-height);
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #666;
  background-color: rgba(0, 0, 0, 0.052);
  border-radius: 4px;
  transition: background-color 100ms linear;
  user-select: none;
}

.MoreButton[data-state="open"],
.MoreButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
