.CardStack {
  position: absolute;
  top: 0;
  left: 0;
  contain: layout style;
  backface-visibility: hidden;
  will-change: transform;

  background-color: rgba(0, 0, 0, 0.06);
  pointer-events: none;
  border-radius: 12px;
}
