@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.overlay {
  background-color: rgba(232, 232, 232, 0.5);
  position: fixed;
  inset: 0;

  overflow: auto;

  opacity: 0;
  animation: fade-in 150ms ease-out forwards;

  z-index: 1;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

.content {
  position: fixed;
  bottom: 8px;
  right: 8px;

  max-width: 440px;
  width: calc(100vw - 40px);
  height: calc(100vh - 16px);

  overflow-x: hidden;
  overflow-y: auto;

  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #111111;

  transform: translateX(100%);
  animation: slide-in 150ms forwards;

  z-index: 1;
}

.title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 0 12px 0;
}

.description {
  font-weight: 16px;
  line-height: 32px;
}

.description .label {
  display: block;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 8px;
}

.description .subLabel {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 8px;
}

.description .instructions {
  font-size: 14px;
  color: #333;
  font-style: italic;
}

.content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content ul li {
  font-size: 14px;
  line-height: 30px;
}

.content ol {
  margin: 0;
  padding: 0;
}

.content ol li {
  font-size: 14px;
  line-height: 30px;
}

.content p {
  margin: 0;
}

.content section {
  margin: 16px 0;
}

.content code {
  font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
  background: #f0f0f0;
  color: #4240b9;
  border-radius: 3px;
  font-size: 85%;
  padding: 4px 8px;
}

/*  */

.CloseButton {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 38px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid transparent;

  align-items: center;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 100ms linear;
}

.CloseButton:hover {
  background-color: #f2f2f2;
  border-color: #ccc;
}

.CloseButton:active {
  border-color: #4240b9;
}

.CloseButton svg {
  width: 14px;
}
