.ChangePassword {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 355px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px;
}

.form .formGroup {
  margin-top: 20px;
}

.form input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}

.form label {
  display: block;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
}

.form a {
  color: #333;
  font-size: 14px;
  line-height: 21px;
}

.form .formText {
  font-size: 14px;
  margin-top: 12px;
  color: #666;
  text-align: center;
}

.form .formErrorText {
  font-size: 14px;
  margin-top: 12px;
  color: darkred;
  text-align: center;
}

.submitButton {
  width: 100%;
  margin-top: 20px;
}
