/* Attribution Header */

.AttributionHeader {
  position: relative;
  width: 100%;
  user-select: none;

  display: block;
  color: inherit;
  text-decoration: none;
}

.AttributionHeader .nav {
  position: absolute;
  top: 8px;
  right: 8px;

  visibility: hidden;

  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.AttributionHeader:hover .nav {
  visibility: visible;
}

.AttributionHeader .nav:has(button[data-state="open"]) {
  visibility: visible;
}

.AttributionHeader .title {
  font-weight: 600;
  line-height: 24px;
  color: #333;
  overflow-wrap: break-word;
}

.AttributionHeader .iconTitleWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.AttributionHeader .iconTitleWrapper .icon {
  flex: 0 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
}

.AttributionHeader .iconTitleWrapper .title {
  flex: 1 1 auto;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AttributionHeader a.linkWrapper {
  display: block; /* important so height remains correct */
  line-height: 16px;
  width: fit-content; /* prevent link from filling parent width */

  color: inherit;
  text-decoration: none;
}

.AttributionHeader a.linkWrapper:hover .domain {
  text-decoration: underline;
}

.AttributionHeader .domain {
  display: inline-block;

  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: inherit;
  user-select: none;
}

/* - twitter */

.AttributionHeader.isTwitter {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;

  align-items: center;
}

.AttributionHeader.isTwitter .leftCol {
  flex: 0 0 auto;
}

.AttributionHeader.isTwitter .rightCol {
  flex: 1 1 100%;
}

.AttributionHeader.isTwitter .linkWrapper {
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.AttributionHeader.isTwitter .avatar {
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.AttributionHeader.isTwitter .avatar img {
  width: 100%;
  height: 100%;
}

.AttributionHeader.isTwitter .header {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;

  line-height: 22px;
}

.AttributionHeader.isTwitter .header .displayName {
  font-weight: 600;
}

.AttributionHeader.isTwitter .header .userName {
  color: #666;
}
